@use "sass:color";
$primario: #4f46e5;
$oscuro: #0f172a;
$blanco: #ffffff;
$fuente_principal: 'Inter', sans-serif;

$small: 480px;
$medium: 768px;
$big: 1024px;

$radio: 0.8rem;           
$radio_pequeno: 0.4rem;   
$sombra: 0 10px 30px rgba(0, 0, 0, 0.1);