@use "../../base/vars" as v;

.hero-contenido {
    h1 {
        font-size: 3.5rem; 
        span {
            color: v.$primario;
        }
    }
    p {
        font-size: 1.25rem;
        color: lighten(v.$oscuro, 20%);
    }
    .btn-primary {
        padding: 0.8rem 2rem;
        font-weight: bold;
    }
}